<div style="text-align:center">
  <div class="foo"><canvas #canvasElement resize="true"></canvas></div>
</div>
<main>
  <h1>//experiments with scalable vector graphics</h1>
  <ol>
    <li><a routerLink="/svgsketch" skipLocationChange=true target="_blank">sketches x scalable vector graphics</a></li>
    <li><a routerLink="/sleepart" skipLocationChange=true target="_blank">sleep data x scalable vector graphics</a></li>
    <li><a routerLink="/darelcarey" skipLocationChange=true target="_blank">darel carey tape art x scalable vector graphics</a></li>
  </ol>
  </main>
