<!-- <ol>
        <li>
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm" action="">
                        Give me some
                        <select name="image" [(ngModel)]="image">
                            <option value="airtechchallenge">sneakers</option>
                            <option value="pentagon">pentagon</option>
                            <option value="lantern">lantern</option>
                            <option value="burj">burj</option>
                            <option value="kickapoo">kickapoo</option>
                        </select>
                        with a style of
                        <select name="style" [(ngModel)]="style">
                            <option value="draw">draw</option>
                            <option value="wallpaper">wallpaper</option>
                            <option value="zoom">zoom</option>
                            <option value="wavey">wavey</option>        
                            <option value="bounce">bounce</option>
                            <option value="bounceout">bounceout</option>
                            <option value="disintegrate">disintegrate</option>
                            <option value="growingHair">growingHair</option>        
                            <option value="rotatePieces">rotatePieces</option>            
                        </select>
                        <input type="submit" value="Do it!">
                </form>
        </li>
</ol> -->
<!-- <h2>experiments in hand-drawn sketches x scalable vector graphics</h2> -->

<div class="foo"><canvas #canvasElement resize="true"></canvas></div>

